{% extends 'base.html.twig' %}

{% block content %}

<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {{ form_start(taskForm) }}
        <button>ZAPISZ</button>
    {{ form_end(taskForm) }}

    </div></div>
{% endblock %}