<h1>Hejka! Proszę potwierdź swój email!</h1>

<p>
    Na twojego maila zostało założone konto w <a href="www.lbsolutions.pl">lbsolutions.pl</a>. Kliknij poniższy link aby je aktywować: <br><br>
    <a href="{{ signedUrl }}">Potwierdzam konto</a>.
    Ten link wygaśnie za godzinę!
</p>

<p>
    Pozdrawiamy! LB solutions
</p>